.reset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  margin-inline: 1rem;
}

.reset-container {
  padding: var(--spacing-400) var(--spacing-250);
  border-radius: var(--radius-12);
  box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.06);
  background-color: var(--color-neutral-0);

  display: grid;
  gap: var(--spacing-400);

  width: 100%;
  max-width: 448px;
}

.reset-header {
  display: grid;
  gap: var(--spacing-075);
}

.reset-header h1 {
  color: var(--color-neutral-900);
}

.reset-header p {
  color: var(--color-neutral-800);
}

.reset-form {
  display: grid;
  gap: var(--spacing-200);
}

.reset-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-150);

  color: var(--color-neutral-800);
}

.reset-login {
  text-decoration: none;
  color: var(--color-neutral-900);
}

.reset-container.dark {
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-500);
}

.reset-container.dark .reset-header h1 {
  color: var(--color-neutral-0);
}

.reset-container.dark .reset-header p {
  color: var(--color-neutral-100);
}

.reset-container.dark .reset-footer {
  color: var(--color-neutral-100);
}

.reset-container.dark .reset-login {
  color: var(--color-neutral-0);
}
