/* reset */
button {
  all: unset;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-root {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border-radius: var(--radius-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-neutral-500);
  flex-shrink: 0; /* prevent shrinking */
  line-height: 1; /* ensure consistent line-height */
}

.checkbox-root.dark {
  border: 1px solid var(--color-neutral-300);
  background-color: var(--color-neutral-0);
}

.checkbox-root[data-state="checked"] {
  background-color: var(--color-teal-800);
}

.checkbox-root[data-state="unchecked"]:hover {
  background-color: var(--color-neutral-300);
}

.checkbox-root.dark[data-state="unchecked"]:hover {
  background-color: var(--color-neutral-600);
}

.checkbox-root:focus {
  outline-width: 0.125rem;
  outline-style: solid;
  outline-color: var(--color-teal-800);
  outline-offset: 2px;
}

.checkbox-root.dark:focus {
  outline-color: var(--color-neutral-500);
}

.checkbox-indicator {
  color: var(--color-neutral-0);
}

.checkbox-label {
  color: var(--color-neutral-900);
}
